body a:link {
    color:blue;
    text-decoration: none;
}
body a:visited {
    color: blue;
    text-decoration: none;
}
body a:hover {
    text-decoration: none;
}
body a:active {
    text-decoration: none;
}
body {
    font-size: 16px;
}