.archive a:link {
    color:blue;
    text-decoration: none;
}
.archive a:visited {
    color: blue;
    text-decoration: none;
}
.archive a:hover {
    text-decoration: none;
}
.archive a:active {
    text-decoration: none;
}
.archive {
    font-size: 20px;
}