---
layout: archive
---

{{ content }}

<html>
  <head>
    <link href="/assets/css/home.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div id="intro" style="margin-top: 20px">
    <p>
      My name is Zhihan Zhang (张智涵). I am currently a senior student in the School of Electronic Engineering
      and Computer Science, Peking University. I am a member of the 
      <a href="https://klcl.pku.edu.cn">MOE Key Laboratory of Computer Linguistics (Peking University)</a>,
      under the supervision of Prof. Yunfang Wu. I am expected to receive my Bachelor's degree
      by summer 2020.<br><br>
      My research interests fall primarily in the area of natural language processing and data mining, 
      with a particular passion in using techniques from NLP and deep learning to solve real-world problems.
      For more details about my past research projects, please kindly refer to my <a href="/assets/CV_Zhihan_Zhang.pdf">CV</a>.
    </p>
    </div>
    <div id="news" style="margin-top: 20px">
      <h2>News</h2>
      <hr>
      <ul>
        <li>
          <b>Apr 2020</b>: I am offered admission to the PhD program in Computer Science and Engineering at the University of Notre Dame.
          My advisor will be <a href="https://www.meng-jiang.com">Dr. Meng Jiang</a>.
        </li>
        <li>
          <b>Nov 2019</b>: I am going to the NLP Group at Microsoft STCA as a full-time research intern.
        </li>
        <li>
          <b>Oct 2019</b>: One paper was accepted by <a href="https://ieeebibm.org/BIBM2019/index.html">BIBM 2019</a>.
        </li>
      </ul>
    </div>
    <div id="education">
      <h2>Education</h2>
      <hr>
      <b>Peking University</b>, Sept 2016 - Present<br>
      <i>Beijing, China</i>
      <ul>
        <li>Bachelor of Science</li>
        <li>School of Electronic Engineering and Computer Science</li>
        <li>Major: Computer Science and Technology</li>
        <li>Advisor: <a href="http://xusun.org">Prof. Xu Sun</a>, <a href="https://cs.pku.edu.cn/info/1083/1300.htm">Prof. Yunfang Wu</a></li>
      </ul>
    </div>
    <div id="experience">
      <h2>Experience</h2>
      <hr>
      <b>Microsoft Search Technology Center Asia</b>, Nov 2019 - Present<br>
      <i>Beijing, China</i>
      <ul>
        <li>Full-time Research Intern</li>
        <li>Natural Language Processing Group</li>
        <li>Advisor: <a href="https://www.linkedin.com/in/xiubo-geng-51b13454/">Xiubo Geng</a></li>
      </ul>
      <b>University of Notre Dame</b>, Jul 2019 - Aug 2019<br>
      <i>Notre Dame, Indiana, United States</i>
      <ul>
        <li>Full-time Research Assistant</li>
        <li>International Summer Undergraduate Research Experience (iSURE) program 
          (<a href="https://international.nd.edu/students-scholars/global-engagement-programs/summer-programs/isure/">What is iSURE?</a>)</li>
        <li>Department of Computer Science and Engineering</li>
        <li>Advisor: <a href="http://www.meng-jiang.com">Prof. Meng Jiang</a></li>
      </ul>
    </div>
    <div id="publication">
      <h2>Publications</h2>
      <hr>
      <p>( * means equal contribution)</p>
      <ul>
        <li>
          Tianwen Jiang*, <b>Zhihan Zhang</b>*, Tong Zhao, Bing Qin, Ting Liu, Nitesh V. Chawla and Meng Jiang. 
          CTGA: Graph-based Biomedical Literature Search. 
          In <i>IEEE International Conference on Bioinformatics and Biomedicine (<b>BIBM</b>)</i>, 2019. 
          (Regular Paper w/ Oral Presentation, Acceptance Rate: 18.0%)
          [<a href="https://ieeexplore.ieee.org/abstract/document/8983173">paper</a>] 
        </li>
        <li>
          <p>
            <b>Zhihan Zhang</b>, Zhiyi Yin, Shuhuai Ren, Xinhang Li and Shicheng Li.
            DCA: Diversified Co-Attention towards Informative Live Video Commenting.
            In <i>ArXiv preprint arXiv:1911.02739</i>. [<a href="https://arxiv.org/abs/1911.02739">paper</a>]
          </p>
        </li>
        <li>
          Pengcheng Yang*, <b>Zhihan Zhang</b>*, Fuli Luo, Lei Li, Chengyang Huang and Xu Sun. 
          Cross-Modal Commentator: Automatic Machine Commenting Based on Cross-Modal Information. 
          In <i>Proceedings of the 57th Annual Meeting of the Association for Computational Linguistics (<b>ACL</b>)</i>, 2019.
          (Short Paper w/ Oral Presentation, Acceptance Rate: 18.2%) 
          [<a href="https://www.aclweb.org/anthology/P19-1257/">paper</a>] 
          [<a href="http://www.livecongress.it/svmd/60B5FD70/62CD7DF0/fullVideo.mp4">video</a>] 
          [<a href="https://github.com/ytyz1307zzh/CMAC">code</a>]
        </li>
      </ul>
    </div>
<!--     <div id="visit_map">
         <script type="text/javascript" id="clstr_globe" src="//cdn.clustrmaps.com/globe.js?d=daF3TjzZ14Eq9B3eRpOB8WO8fFUeGP0EGHJkGTP9l30"></script> 
         <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=daF3TjzZ14Eq9B3eRpOB8WO8fFUeGP0EGHJkGTP9l30&cl=ffffff&w=a"></script> 
    </div> -->
  </body>
</html>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
